
/* Estilos generales */
@font-face{
    font-family:'Roboto Mono';
    src:url(fonts/RobotoMono/RobotoMono-Light.ttf);
}

@font-face{
    font-family:'Roboto Mono Bold';
    src:url(fonts/RobotoMono/RobotoMono-Bold.ttf);
}


@font-face{
    font-family:'Montserrat';
    src:url(fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face{
    font-family:'Montserrat-Italic';
    src:url(fonts/Montserrat/Montserrat-Italic.ttf);
}

body {
    font-family: 'Arial', sans-serif;
    width:65%;
    max-width:900px;
    margin:0 auto;
    margin-bottom:100px;
/*    background-color:white;*/
    font-size:1.1em;
}

header {
    margin-top: 50px;
    margin-bottom: 50px;
}

header h1{
    font-family:'Roboto Mono Bold';
    text-align:center;
    font-size:2.2em;
}

#blog-post{
    margin-top:100px;
}

#blog-post > h1{
    font-family:'Roboto Mono Bold';
    text-align:center;
    font-size:1.6em;
    margin-bottom:50px;
}

.bold{
    font-weight:bold;
}

.center{
    text-align: center;
}


h2{
    font-weight: normal;
    font-family: 'Roboto Mono Bold';
}


.personal-info{
    margin-top:30px;
}

.personal-info.icons ul li{
    list-style:none;
}


li{
    margin-top:10px;
}

.date{
    font-size:0.7em;
    margin-top:5px;
    margin-left:15px;
}


#blog-post p{
    line-height:1.4;
}

/* Estilo para listas anidadas */

ul ul > li:last-child{
    margin-bottom:30px;
}

ul#blog-index li{
    list-style:none;
}


/* Estilo para enlaces */

a{
    text-decoration:underline;
}

a:hover{
    text-decoration:underline;
}


/* Estilos para imagenes */
.imagen{
    margin:30px 0px;
}

.imagen > p{
    text-align:center;
}

.imagen img{
    width:60%;
}


/* Barra de enlaces  */
/* NOTA: el selector header+ul solo se usa en los artículos del blog antiguo*/
nav ul, header+ul{
    text-align:center;
    margin-bottom:40px;
}

nav ul li, header+ul li{
    list-decoration:none;
    display:inline-block;
    margin-right:50px;
}




/* Estilos para el footer  */
hr{
    margin:50px;
    border:none;
    height:1px;
}

hr + p{
    text-align:right;
    font-style:italic;
}

.aviso{
    font-size:0.7em;
}


/* Estilo de código preformateado */

code{
    font-size:1.1em;
}

pre{
    border:1px solid black;
    border-radius: 5px;
    padding:5px;
    width:90%;
    margin:0 auto;
    overflow:hidden;
    white-space: pre-wrap;
}

pre code{
    font-size:1.0em;
    font-weight:normal;
}


/*  Estilo para anotaciones  */
blockquote{
    font-family:'Montserrat-Italic';
    padding:3px 10px;
    border-left:3px solid black;
}




/*  Responsive   */


@media all and (max-width: 900px ){
    body{
	font-size:1.3em;
        width:80%;
    }

}


@media all and (max-width: 500px ){
    body{
	    font-size:1.3em;
        width:95%;
    }

    header h1{
	    font-size:1.8em;
    }

    .date{
	    font-size:0.6em;
    }

    code{
	    font-size:0.9em;
    }
    pre{
	    width:90%;
	    font-size:0.8em;
    }

    .imagen img{
	    width:90%;
    }
}


@media all and (max-width: 400px ){
    body{
	    font-size:1.3em;
        width:95%;
    }

    header h1{
	    font-size:1.6em;
    }

    .date{
	    font-size:0.6em;
    }

    code{
	    font-size:0.9em;
    }
    pre{
	    width:90%;
	    font-size:0.8em;
    }

    .imagen img{
	    width:90%;
    }
}







/*  Colores  */

body{background-color: #09081c;  color:silver;}

h1,h2,h3{color:#f52402;}

.light {color:#f52402;}

.aviso{color: #f75940;}

.black{color:#f58002;}

li>i:first-child{color:#f58002;}

a{color:#f58002;}

hr{background-color:silver;}

code{color:#bafbed;}

pre{border-color:silver;background:#F9F9F9;}

pre code{color:black;}

blockquote{border-left-color: #f58002;}
