<html>
  <head>
    <title>panic_error!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="estilo.css">
    <style>
      span.bookdate, p.update{
	      font-size:0.7em;
      }
      span.author{
	      font-style:italic;
      }
      td.title{
	      vertical-align:middle;
	      padding-left:20px;
      }
      table{
	      margin:40px 0px;
      }

      main > p:first-child{
	      margin-top:50px;
      }
      
    </style>
    </head>
    <body>
      <header>
	    <h1>panic_error!</h1>
      </header>
      <nav>
        <ul>
	      <li><a href="index.html">Inicio</a></li>   
        </ul>
      </nav>
      <main id="reads">
        <p>Leer es una de mis principales aficiones y suelo leer libros de casi todos los géneros. Me gusta llevar la cuenta de lo que leo y guardarme pequeñas reseñas que luego me sirven para recordarlo. Este año llevo leídos $reads libros y estos son con los que estoy ahora mismo:</p>
	    <ul>
	      $cur
	    </ul>
	    <p>Si tienes curiosidad por mis lecturas, estos son los últimos títulos que he leído:</p>
	    <ul>
	      $lasts
	    </ul>
        <p class="update">Última actualización: $lastDate</p>
      </main>
    <body>
</html>
