<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="estilo.css">
  </head>

  <body>
    <header>
      <h1><span class="light">&#36;</span> panic_error()</h1>
    </header>
    <main>
      <section id="sobremi">
        <p>
          Soy <b>sdemingo</b>. Desde hace mucho tiempo, ese es mi alias en todas mis
          máquinas. Mis principales aficiones son la programación, las
          bicicletas y leer. Te dejo por aquí varios enlaces donde poder cosas
          hechas por mi:
	<p>
	  <ul>
	    <li>Estas son las <a href="blog/index.html">últimas entradas de mi
		blog</a>
	      <li>La lista de mis <a href="books.html">últimas lecturas</a></li>
	    <li>Mi código y mi cacharreo que tengo
	      en <a href="https://github.com/sdemingo">Github</a>
	    <li>Mi <a href="gemini://texto-plano.xyz/sdemingo">cápsula gemini</a>
	      que tengo alojada también en texto-plano</li>
	    <li>Si quieres ponerte en contacto conmigo para cualquier tema
	      puedes encontrarme:</li>
	    <ul>
	      <li>En el correo electrónico como &laquo;sdemingo [arroba]
		texto-plano.xyz&raquo; (Esta es <a href="tp_public_key.asc">mi
		  clave pública</a>)</li>
	      <li>En Telegram como sdemingo</li>
	      <li>En el IRC como sdemigo en la red <a href="https://tilde.chat/">Tildeverso</a></li>
              <li>En Jabber/XMPP soy &laquo;sdemingo [arroba] suchat.org&raquo;
	    </ul>
	  </ul>
      </section>
      
      <section id="oldposts">
	<p>
	  También tienes una selección de <a href="oldblog/index.html">antiguas entradas</a> rescatadas de olvidados blogs
	  que he ido publicando y abandonando cíclicamente. Por si a alguien le
	  sirve, mejor aquí que enterradas en el fondo de un disco duro.
	</p>

	<p>Esta web está soportada gracias
	a <a href="https://texto-plano.xyz">Texto Plano</a>, un servidor Unix
	público y gratuito también llamado Tilde de habla hispana.</p>
      </section>
    </main>
  </body>

</html>
