<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="estilo.css">
  </head>
  <body>
    <header>
      <h1><span class="light">&#187; </span>panic_error</h1>
    </header>
    <main>
      <section id="sobremi">
        <p>
          Soy <b>sdemingo</b>. Desde hace mucho tiempo, ese es mi alias en todas mis
          máquinas. Mis principales aficiones son la programación, las
          bicicletas y leer.
	<p>
	  <ul>
	    <li><i class="las la-pen"></i> <a href="blog/index.html">Blog</a>
	    <li><i class="las la-book"></i> <a href="books.html">Últimas lecturas</a></li>
	    <li><i class="lab
	    la-github"></i> <a href="https://github.com/sdemingo">Github</a>
	    <li>Si quieres ponerte en contacto conmigo:</li>
	    <ul>
	      <li><i class="las la-envelope"></i> sdemingo<i class="las la-at"></i>texto-plano.xyz (Esta es <a href="tp_public_key.asc">mi clave pública</a>)</li>
	      <li><i class="lab la-telegram"></i> sdemingo en Telegram</li>
	      <li><i class="las la-users"></i> sdemingo en el IRC de  <a href="https://tilde.chat/">Tildeverso</a></li>
          <li><i class="las la-users"></i> sdemingo<i class="las
          la-at"></i>suchat.org en Jabber/XMPP
	    </ul>
	  </ul>
      </section>
      
      <section id="oldposts">
	<p>Además de este sitio, tengo una
	 sencilla <a href="gemini://texto-plano.xyz/sdemingo">cápsula gemini</a>
	 donde encontrarás este mismo contenido a través de este sencillo
	 protocolo.  También tienes una selección
	 de <a href="oldblog/index.html">antiguas entradas</a> rescatadas de
	 olvidados blogs que he ido publicando y abandonando cíclicamente. Por
	 si a alguien le sirve, mejor aquí que enterradas en el fondo de un
	 disco duro.
	</p>

	<p>Esta web está soportada gracias
	a <a href="https://texto-plano.xyz">Texto Plano</a>, un servidor Unix
	público y gratuito también llamado Tilde de habla hispana.</p>
      </section>
    </main>
  </body>

</html>
