<html>
  <head>
    <title>panic_error!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="estilo.css">
  </head>
  <body>
    <header>
      <h1>panic_error!</h1>
    </header>
    <main>
      <section class="personal-info icons">
        <p>
          Soy <b>sdemingo</b>. Desde hace mucho tiempo ese es mi alias en todas
          mis máquinas. Soy profesor y el tiempo libre que me queda lo dedico a
          leer y a montar en bicicleta principalmente. También me gusta
          programar casi cualquier cosa aunque últimamente saco menos tiempo
          para esto.
        </p>
        <p>
          Puedes encontrar información sobre lo que leo tanto en
          el <a href="blog/index.html">blog</a> como en la lista de
          mis <a href="books.html">últimas lecturas</a>
        </p>
	    <ul>
	      <li><i class="las la-pen"></i> <a href="blog/index.html">Blog</a></li>
	      <li><i class="las la-book"></i> <a href="books.html">Últimas lecturas</a></li>
	      <li><i class="lab la-github"></i> <a href="https://github.com/sdemingo">Github</a></li>
        </ul>
      </section>
      <section class="personal-info icons" >
	    <p>Si quieres ponerte en contacto conmigo:</p>
	    <ul>
	      <li><i class="las la-envelope"></i> sdemingo<i class="las la-at"></i>texto-plano.xyz</li>
	      <li><i class="las la-envelope"></i> sdemingo<i class="las la-at"></i>gmail.com</li>
	    </ul>
      </section>
      <section class="personal-info">
        <p>Además de todo esto, también te puede interesar una pequeña lista
          de <a href="oldblog/index.html">antiguas entradas</a> rescatadas de
          olvidados blogs que he ido publicando y abandonando cíclicamente.
        </p>
      </section>
      
    </main>
  </body>

</html>
